.form {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  margin-bottom: 52px;
}

.input {
  max-width: 377px;
}

.addButton {
  min-width: 121px;
}

.deleteButton {
  min-width: 108px;
}

.clearButton {
  margin-left: 68px;
  min-width: 119px;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
