.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 120px;
}

.fieldset {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  border: none;
  padding: 0;
  margin: 0;
}

.input {
  max-width: 204px;
}

.boundaryButton {
  min-width: 175px;
}

.indexButton {
  min-width: 362px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
