.form {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.input {
  max-width: 377px;
}

.button {
  max-width: 178px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 48px;
  max-width: 944px;
  margin: 48px auto 0;
  justify-content: center;
}
