.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.radio {
  display: flex;
  column-gap: 40px;
  margin-right: 52px;
}

.sort {
  display: flex;
  column-gap: 12px;
  margin-right: 80px;
}

.container {
  display: flex;
  min-height: 362px;
  justify-content: center;
  align-items: end;
  column-gap: 10px;
}

.ascending {
  min-width: 205px;
}

.descending {
  min-width: 186px;
}
